{% extends "InnovaPathBundle:Wizard:layout.html.twig" %}

{% block path_wizard %}
    <div data-ng-cloak="" class="path-player">
        {# Path Player (convert Path Entity into a JSON object to make it understandable by AngularJS) #}
        <path-show data-id="{{ _resource.id }}" data-path="{{ _resource | json_encode }}" data-user-progression="{{ userProgression | json_encode }}" data-edit-enabled="{{ editEnabled }}"></path-show>
    </div>
{% endblock %}

{% block initModule %}
    <script>
        System.import('vendor/claroline/js/translator')
            .then(function (translator) {
                window.Translator = translator;

                return System.import('vendor/innovapath/translations');
            })
            .then(function () {
                return System.import('vendor/angular/angular-js');
            })
            .then(function () {
                return System.import('vendor/angular/angular-ui');
            })
            .then(function () {
                return System.import('vendor/innovapath/wizards');
            })
            .then(function (module) {
                module.initPlayer();
            });
    </script>
{% endblock %}
